# ============================================
# SERVIDOR
# ============================================
PORT=3000
NODE_ENV=development

# ============================================
# BASE DE DATOS
# ============================================
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_password_aqui
DB_NAME=mega_mex

# ============================================
# JWT
# ============================================
JWT_SECRET=cambia_esto_por_un_string_largo_y_random
JWT_EXPIRES=7d